<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
	<testsuites>
		<testsuite name="Microsoft Graph SDK Test Suite">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory suffix=".php">src</directory>
		</include>
		<exclude>
			<directory suffix=".php">src/Generated</directory>
		</exclude>
	</source>
</phpunit>
